---
- name: Configure Web Servers
  hosts: web_servers
  become: yes
  tasks:
    - name: Install Apache
      apt:
        name: apache2
        state: present
 
    - name: Install PHP
      apt:
        name: php
        state: present
 
    - name: Install MySQL Client
      apt:
        name: mysql-client
        state: present
 
    - name: Clone GitHub Repo
      git:
        repo: 'https://github.com/nasreen-sudo/aws-capstone-exam.git'
        dest: /var/www/html
    - name: Ensure Apache is running
      service:
        name: apache2
        state: started
        enabled: true
